@font-face {
    font-family: "jameel-Noori";
    src: url(fonts/JAMEEL\ NOORI\ NASTALEEQ\ KASHEEDA.TTF);
}
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;}
.container {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #a020f07c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: auto;
    height: auto;
    border-radius: 20px;
}
@media screen and (min-width:320px) {
    .container{
       margin: 70px;
    }
}

h1 {
    font-size: 3.5rem;
    padding: 20px;
    font-family: jameel-Noori;
}
.btn{
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 40px;
    font-size: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-family: jameel-Noori;
    border-radius: 20px;
}
.jokeFont{
    font-size: x-large;
    font-family: jameel-Noori;
    text-align: center;
}
